{% extends "base.html" %}

{%block title%} Create Member {%endblock%}

{%block body%}


<div class='container mt-5'>
    <h1>Create a new Member</h1>
    <form method='post'> 
        <h2>User information:</h2>
        <input type='text' name='given_name' id='given_name' class='form-control' placeholder='Enter a name'><br>
        <input type='text' name='surname' id='surname' class='form-control' placeholder='Enter a surname'><br>
        <input type='text' name='email' id='email' class='form-control' placeholder='Enter an email'><br>
        <input type='text' name='city' id='city' class='form-control' placeholder='Enter a city'><br>
        <input type='text' name='phone_number' id='phone_number' class='form-control' placeholder='Enter a phone number'><br>
        <input type='text' name='profile_description' id='profile_description' class='form-control' placeholder='Enter a profile description'><br>
        <input type='text' name='password' id='password' class='form-control' placeholder='Enter a password'><br>

        

        <h2>Address information:</h2>
        <input type='text' name='house_number' id='house_number' class='form-control' placeholder='Enter a house number'><br>
        <input type='text' name='street' id='street' class='form-control' placeholder='Enter a street'><br>
        <input type='text' name='town' id='town' class='form-control' placeholder='Enter a town'><br>

        <h2>Member information:</h2>
        <input type='text' name='house_rules' id='house_rules' class='form-control' placeholder='Enter house rules'><br>
        

        <input type='submit' class='btn btn-success' value='Create member'><br>
    </form>
</div>
{%endblock%}