{%extends 'base.html'%}

{%block title%} User information page {%endblock%}
{%block body%}

<div class='container mt-5'>
    <h1> User: {{user.given_name}} {{user.surname}} </h1>
        <div class='alert alert-info'>
            <p> <b> Role: Member </b> </p>
            <p> <b> ID: {{user.user_id}} </b> </p>
            <p> Phone number: {{user.phone_number}} </p>
            <p> City: {{user.city}} </p>
            <p> Profile description: {{user.profile_description}} </p>
            <p> Password: {{user.password}} </p>

            <p> House rules: {{member.house_rules}} </p>
        </div>
    <h1> Address: </h1>
    <div class='alert alert-warning'>
        <p> House number: {{address.house_number}} </p>
        <p> Street: {{address.street}} </p>
        <p> Town: {{address.town}} </p>
    </div>

    <h1> Posted jobs: </h1>
    <div class='alert alert-secondary'>
        <p> <b> Required caregiving type: {{job.required_caregiving_type}} </b> </p>
        <p> <b> Job ID: {{job.job_id}} </b> </p>
        <p>  Posted date: {{job.date_posted}} </b> </p>
        <p> Other requirements: {{job.other_requirements}} </p>
    </div>

    <h1> Appointments: </h1>
    <div class='alert alert-success'>
        <p> <b> Appointment ID: {{appointment.appointment_id}} </b> </p>
        <p> Appointment date: {{appointment.appointment_date}} </p>
        <p> Work hours: {{appointment.work_hours}} </p>
        <p> Status: {{appointment.status}} </p>
    </div>
</div>

{%endblock%}

