{%extends 'base.html'%}

{%block title%} User information page {%endblock%}
{%block body%}

<div class='container mt-5'>
    <h1> User: {{user.given_name}} {{user.surname}} </h1>
        <div class='alert alert-info'>
            <p> <b> Role: Caregiver </b> </p>
            <p> <b> ID: {{user.user_id}} </b> </p>
            <p> Phone number: {{user.phone_number}} </p>
            <p> City: {{user.city}} </p>
            <p> Profile description: {{user.profile_description}} </p>
            <p> Password: {{user.password}} </p>

            <p> Gender: {{caregiver.gender}} </p>
            <p> Caregiving type: {{caregiver.caregiving_type}} </p>
            <p> Hourly rate: {{caregiver.hourly_rate}} </p>
        </div>

    <h1> Job applications: </h1>
    <div class='alert alert-warning'>
        <p> <b> Job ID: {{job_application.job_id}} </b> </p>
        <p> Applied date: {{job_application.date_applied}} </p>
    </div>

    <h1> Job appointments: </h1>
    <div class='alert alert-success'>
        <p> <b> Appointment ID: {{appointment.appointment_id}} </b> </p>
        <p> Appointment date: {{appointment.appointment_date}} </p>
        <p> Work hours: {{appointment.work_hours}} </p>
        <p> Status: {{appointment.status}} </p>
    </div>
</div>

{%endblock%}

